<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= expense.title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="card-container">
            <div class="expense">
                <p>ID:<%= expense.id %></p>
                <p>Title&nbsp;:&nbsp;<%= expense.title %></p>
                <p>Amount&nbsp;:&nbsp;<%= expense.amount %></p>
                <p>Category&nbsp;:&nbsp;<%= expense.category %></p>
                <p>Date&nbsp;:&nbsp;<%= expense.date %></p>
                
            </div>
    </div>
</body>
</html>