<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="box">
        <h1>Update Expense</h1>
        <form action="/expenses/<%= expense.id %>?_method=PATCH" method="post" class="new-expense-form">
            <label for="title">Tilte:
                <input type="text" placeholder="Enter title" name="title" id="title" value="<%= expense.title %>">
            </label>

            <label for="amount">Amount:
                <input value="<%= expense.amount %>" type="number" placeholder="Enter amount" id="amount" name="amount">
            </label>

            <label for="category">Category:
                <select name="category" id="category">
                    <option  value="food" <%= expense.category === "food" ? "selected" : "" %> >Food</option>
                    <option value="Traval" <%= expense.category === "Traval" ? "selected" : "" %> >Traval</option>
                    <option value="shopping" <%= expense.category === "shopping" ? "selected" : "" %> >Shopping</option>
                    <option value="Bills" <%= expense.category === "Bills" ? "selected" : "" %> >Bills</option>
                    <option value="Entertainment" <%= expense.category === "Entertainment" ? "selected" : "" %> >Entertainment</option>
                    <option value="health" <%= expense.category === "health" ? "selected" : "" %> >Health</option>
                    <option value="education" <%= expense.category === "education" ? "selected" : "" %> >Education</option>
                    <option value="other" <%= expense.category === "other" ? "selected" : "" %> >other</option>
                </select>
            </label>
            
            <label for="date">Date:
                <input value="<%= expense.date %>" type="date" id="date" name="date">
            </label>

            <button>Submit</button>
        </form>
    </div>
</body>
</html>